@{
    ViewBag.Title = "Home";
}
<img src="~/Images/driveme.gif" style="height:50px" />
<h3>Book a car for your ride. Its easy !</h3>&nbsp;<h4>For bookings <a href="javascript:alert('Not implemented!')">Click here</a></h4>